*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1282px;
    margin: 0 auto;
}
.header_link {
    height: 79px;
    width: 334px;
    line-height: 1.25;
    font-weight: 400;
    font-size: 80px;
    text-decoration: none;
    margin-top: 63px;
}
.header_text_Ra {
    color: #000000;
}
.header_text_mda.js {
    color: #4BCAFF;
}
.header_text {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    padding: 24px 150px 18px 150px;
    list-style: none;
    margin-top: 40px;
}
.text_1 {
    padding: 24px 32px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}
.text_1:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
.text_2 {
    padding: 24px 38px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}
.text_2:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
.text_3 {
    padding: 24px 40px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
}
.text_3:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
.text_4 {
    padding: 24px 32px;
    color: #FFFFFF;
    text-decoration: none;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.text_4:hover {
    background-color: #222F3A;
    transition: 0.5s;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.aside_text {
    width: 345px;
    margin-top: 49px;
    border: 1px solid #000000;
}
.aside_text_left {
    list-style-type: none;
    color: #485863;
    line-height: 52px;
    font-size: 27px;
}
.text_left_1 {
    text-decoration: none;
    color: #495863;
    padding: 26px 194px 52px 44px;
}
.text_left_2 {
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 52px 78px 52px 44px;
    margin-left: 29px;
}
.text_left_3 {
    text-decoration: none;
    color: #495863;
    padding: 52px 82px 52px 44px;
}
.text_left_4 {
    text-decoration: none;
    color: #495863;
    padding: 52px 121px 52px 44px;
}
.text_left_5 {
    text-decoration: none;
    color: #495863;
    padding: 52px 121px 26px 44px;
}
.main-content-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 75px 268px 73px 297px;
    border: 1px solid #000000;
    max-width: 885px;
    margin-top: 49px;
    margin-left: 52px;
}
.main-content-images:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
.main-content-paragraph{
    padding-top: 37px;
    font-size: 18px;
    width: 885px;
    color: #2C2C2C;
    text-align: start;
    line-height: 24px;
    margin-left: auto;
}
.main-content-paragraph-first {
    margin-bottom: 34px;
}
.main-content-paragraph-second {
    margin-bottom: 54px;
}
.footer-container {
    background-color: #63696E7A;
    margin-bottom: 30px;
}
.menu_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #63696E7A;
    padding: 20px 40px;
}
.footer_manu_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 28px;
    line-height: 28px;
}
.footer_text_1 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}
.footer_text_1:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.footer_text_2 {
    color: #3181A6;
    padding-right: 25px;
}
.footer_text_2:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.footer_text_3 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}
.footer_text_3:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.footer_text_4 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 25px;
}
.footer_text_4:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.footer_text_5 {
    text-decoration: none;
    color: #0C1927;
    padding-right: 135px;
}
.footer_text_5:hover {
    color: #3181A6;
    transition: 0.5s;
    border-bottom: 1px solid #3181A6;
}
.text_copy{
    color: #010101;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
